* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	padding: 20px;
}
.air {
    height: 500px;
    background-color: #4AAEFF;
    width: 860px;
}
.four{
	position: absolute;
	height: 700px;
	top: 80px;
	right: 275px;
	width: calc(100% / 5);
	background-color: blueviolet;
}
.five{
	position: absolute;
	top: 80px;
	height: 700px;
	right: 0;
	width: calc(100% / 5);
	background-color: darkblue;
}
.six{
	position: absolute;
	top: 780px;
	height: 120px;
	right: 0;
	width: 559px;
	background-color: #4AAEFF;
}
article {
	height: 400px;
	width: calc(100% / 5);
	border: 1px solid black;
	padding: 30px;
	background-color: #C4F4FF;
	display: inline-block;
	flex-direction: row;
}

@media screen and (max-width: 900px) {
	section{
		width: 100%;
		height: 33.3%;
	}
	.four{
		right: 90px;
	}
}
